<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="assets/images/diabloIV.svg" alt="Logo" class="logo-image">
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">HomePage</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contanct</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>

        </div>
    </div>

    <div class="footer-bottom">
        &copy; Blizzard Co. Diablo IV
    </div>

</footer>
