<div class="card-container">
    <div class="card">
        <img src="assets/images/Imperius.png" alt="Card 1">
        <h2>Angel Imperius</h2>
        <p>Click and lear why Imperius hate Lilith! </p>
        <a href="#" class="button">More Information</a>
    </div>
    
    <div class="card">
        <img src="assets/images/Malthael.webp" alt="Card 2">
        <h2>Falling Angel Malthael</h2>
        <p>Click and learn why Malthael thrown out the Heaven</p>
        <a href="#" class="button">More Information</a>
    </div>
    
    <div class="card">
        <img src="assets/images/Tyreal.webp" alt="Card 3">
        <h2>Head Angel Tyreal</h2>
        <p>Click and learn Tyreal LifeStory!</p>
        <a href="#" class="button">More Information</a>
    </div>
</div>
